<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="influxdb">
            <directory>tests/Meter/InfluxDB</directory>
        </testsuite>
        <testsuite name="tdengine">
            <directory>tests/Meter/TDengine</directory>
        </testsuite>
    </testsuites>
</phpunit>
